# see https://console.bluemix.net/docs/services/watson/getting-started-credentials.html#service-credentials-for-watson-services
LANGUAGE_TRANSLATOR_USERNAME=<username>
LANGUAGE_TRANSLATOR_PASSWORD=<password>
