language: node_js
sudo: true
node_js: 4
script:
- npm run lint
env:
  global:
  - CF_APP=language-translator-demo
  - CF_API=https://api.ng.bluemix.net
  - CF_ORGANIZATION=WatsonPlatformServices
  - CF_SPACE=demos
before_deploy: npm install -g cf-blue-green
deploy:
  provider: script
  script:
    - cf-blue-green-travis
  on:
    branch: master
    repo: watson-developer-cloud/language-translator-nodejs
  skip_cleanup: true
